<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ path('news_list') }}">
                Новости
            </a>
        </li>
        {% if news.category is defined %}
        <li class="breadcrumb-item active" aria-current="page">
            <a href="{{ path('category', {categorySlug: news.category.slug}) }}">
                {{ news.category.title }}
            </a>
        </li>
        {% endif %}
    </ol>
</nav>
