<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <a class="navbar-brand" href="/">News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for category in getCategories() %}
            <li class="nav-item{{ category.isActive ? ' active' }}">
                <a href="{{ path('category', {categorySlug: category.slug}) }}" role="button" class="nav-link">{{ category.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>