{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}: {{ news.title }}
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'breadcrumb.html.twig' %}

        <div>
            <h2>{{ news.title }}</h2>
        </div>
        <div>
            {% if news.image %}
                <img src="{{ news.image }}" class="img-fluid">
            {% endif %}

            {{ news.body|raw }}
        </div>
    </div>
{% endblock %}
