{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% include 'breadcrumb.html.twig' %}

        <div>
            <ul class="list-group">
                {% for item in news %}
                    <li class="list-group-item">
                        <div>
                            <small class="text-muted">
                                {{ item.category.title }}
                            </small>
                        </div>
                        <div>
                            <span class="card-title">
                                {{ item.title }}
                            </span>
                        </div>
                        <div>
                            <small>
                                {{ item.description|striptags }}...
                            </small>
                        </div>
                        <div>
                            <a class="btn btn-primary btn-sm" href="{{ path('news_item', {categorySlug: item.category.slug, newsSlug: item.slug}) }}">
                                Подробнее
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
